<h2>Seja bem vindo adminitrador</h3>
    <hr>

    <ul>
        <li><a href="./admin/situacaoReclamacao">Listagem com todas as reclamações</a></li>
        <li><a href="./admin/situacaoSimulacao">Lsitagem com todas as simulações</a></li>
        <li><a href="./admin/criar">Criar outro administrador</a></li>
    </ul>