<div style="background:#E9ECEF" class=" p-5 rounded-lg m-3">
    <h1 class="display-4">Bem-vindo a Daesc</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mais</a>
</div>

<hr>
<h2>Página principal</h2>